body {
    background-color: #F1FFD9;
    color: #9E7E7D;
}

h1 {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Anton';
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: #CC5B58;
    font-family: 'Montserrat';
    color: #CBCC66;
    padding: 5px 5px 5px 5px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly, center;
    padding: 5px 5px 5px 5px;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 8px;
}

@media (max-width: 600px){
    
}