body {
    background-color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Anton';
}

main {
    background-color: gainsboro;
    font-family: 'Montserrat';
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly, center;
    padding: 5px 5px 5px 5px;
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    
}